body{
	padding: 0;
	margin: 0;
	font-family: Marck Script;
}
a{
	text-decoration: none;
	color: black;
	font-size: 24px;
}
.active{
	border-bottom: 2px solid black;
}
nav>a:hover{
	border-bottom: 2px solid black;
}
article{
	background: linear-gradient(to right, gray, black);
	color: white;
	float: right;
	width: 100%;
	height: 400px;
}
.empty{

} 
.text{
	width: 50%;
	height: 400px;
	float: left;
	font-size: 30px;
	background-color: #e8ffe6; 
	margin-top: px;
} 
.empty2{
	width: 40%;
	height: 300px;
	float: left;
}
.right{
	width: 60%;
	height: 300px;
	float: right;
	font-size: 17px;
	
}
#knopka{
	border: 15px solid black;
	border-radius: 30px;
	background-color: black;
	color: white;
	font-size: 30px;
}
#knopka:hover{
	box-shadow: 0px 0px 10px black;
}

h1{
	font-size: 70px;
}
h3{
	font-size: 30px;
}
footer{
	
}
main{
	background: url(divback.png) #e8f0e5;
	background-size: 50%;
	background-repeat: no-repeat;
	width: 98%;
	background-position: 95%;
	height: 400px;
	padding: 1%;
}
#name{
	font-size: 30px;
}
h4{
	font-size: 24px;
	color: #96027e;
}
